$navbar-default-bg: #3E363F;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
  text-align: center;
}

.jumbotron{
  background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), asset-url('cover_image.png');
  background-size: cover;
  height: 300px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo-hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron h1, h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  text-shadow: 0 0 8px #443f39;
}

.jumbotron h2 {
     color: #3E363F;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  text-shadow: 0 0 15px #fff;

}
.btn-xlarge {
  background-color: #3E363F;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}


footer {
  margin-top: 45px;
  padding-top: 50px;
  border-top: 1px solid #eaeaea;
  color: #777;
}



footer ul {
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
  margin-top: -30px;
  margin-right: 15px;
}

.description {
  margin-top: 0;  

}

.well a{
  color: #3E363F;
}

.chef_info{
  margin-top: 10px;
}

.colormatch a{
  color: #3E363F;
}